<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
    <h1>add product</h1>
    
        
        <input type="text" autocomplete="off" id="name" placeholder="name" />
        <input type="text" autocomplete="off" id="offer" placeholder="offer" />
      

        <button id ="addOfferButton" onclick=registerStore()> add offer</button>
       
      
      
    </div>
  </body>
    <script>

   

      function registerStore() {
      const name = document.getElementById('name').value 
      const offer = document.getElementById('offer').value

      console.log(name);
      console.log(offer);

      fetch('/api/addoffer', {
        method: 'POST',
        body: JSON.stringify({ name: name, offer: offer }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
    }
    
  </script>

</html>