<!DOCTYPE html >
    <html lang="en">
        <head>
            <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" href="homescreen.css">
                        <title>home</title>
   
         </head>

        <body style="background-color: white;">
            <h1 class="h1">Leaderboard</h1>
        <!--The leaderboard as mainscreen-->
        <div >
        <table id="leaderboard" contenteditable = "true">
            <tr>
              <th  contenteditable = "false" oninput="updateTable(event)">type</th>
              <th contenteditable = "false" oninput="updateTable(event)">id</th>
              <th  contenteditable = "false" oninput="updateTable(event)">lat</th>
              <th  contenteditable = "false" oninput="updateTable(event)">lon</th>
              <th  contenteditable = "false" oninput="updateTable(event)">name</th>
              <th  contenteditable = "false" oninput="updateTable(event)">shop</th>
            </tr>
          </table>
        </div>
        <button id ="loadData" onclick="loadSupermarkets()">Load Data</button>
        <button id ="updateData" onclick="searchForUpdatedCell()">Update Data</button>


        <!-- The side bar menu -->
        <div id="side-bar-menu">
            <ul>
            <li><a href="./change-password.html"><button type="button" id="buttons">change password</button></a></li>
            <li><a href="./change-username.html"><button type="button" id="buttons">change username</button></a></li>
            <li><a href="./deletestores.html"><button type="button" id="buttons">delete stores</button></a></li> 
            <li> <a href="./addstore.html"><button type="button" id="buttons">add store</button></a></li>
            <li><a href="./chart.html"><button type="button" id="buttons">chart</button></a></li>
            <li><a href="./logadmin.html"><button type="button" id="buttons">log out</button></a></li>
            </ul>
        </div>
        

        
        <!-- The toggle button for the side bar menu -->
        <button id="menu-toggle"> <img src="home.png" width="50" height="50"> </button>
                                        
        </body>

<script>

let originalValues = [];
let newValue;
let previousValue;
let columnName;
let rowOfEditedCell;
let idOfEditedCell;

// toggle button for menu
document.getElementById("menu-toggle").addEventListener("click", function() {
  var sideBarMenu = document.getElementById("side-bar-menu");
  var mainContent = document.getElementById("main-content");
  if (sideBarMenu.style.left == "-250px") {
    sideBarMenu.style.left = "0";
    mainContent.style.marginLeft = "250px";
  } else {
    sideBarMenu.style.left = "-250px";
    mainContent.style.marginLeft = "0";
  }
});



var table = document.getElementById("leaderboard");
// Loop through the rows of the table
for (var i = 0; i < table.rows.length; i++) {
    // Loop through the cells of the current row
    for (var j = 0; j < table.rows[i].cells.length; j++) {
      // Get the current cell
      var cell = table.rows[i].cells[j];

      // If the cell is empty, set its value to the default value
      if (cell.innerHTML === "") {
        cell.innerHTML = "N/A";
      }
    }
  }






  
  function loadSupermarkets(){
    fetch('/api/supermarkets')
  .then(response => response.json())
  .then(data => {
    // get the table element
    var table = document.getElementById('leaderboard');

    // loop through the array of data
    data.forEach(function(object) {
      // create a new table row element
      var row = document.createElement('tr');

      // create a new table cell for each object property
      var cell1 = document.createElement('td');
      var cell2 = document.createElement('td');
      var cell3 = document.createElement('td');
      var cell4 = document.createElement('td');
      var cell5 = document.createElement('td');
      var cell6 = document.createElement('td');

  

      // set the inner HTML for each cell
      cell1.innerHTML = object.type;
      var input = document.createElement('input');
      

      
      cell2.innerHTML = object.id;
      cell3.innerHTML = object.lat;
      cell4.innerHTML = object.lon;
      cell5.innerHTML = object.tags.name;
      cell6.innerHTML = object.tags.shop;

      // append the cells to the new row
      row.appendChild(cell1);
      row.appendChild(cell2);
      row.appendChild(cell3);
      row.appendChild(cell4);
      row.appendChild(cell5);
      row.appendChild(cell6);


      // append the row to the table
      table.appendChild(row);
    
    });
    // save original data
    saveOriginalData();
  });
      
  }
			


function saveOriginalData(){
  const table = document.querySelector('leaderboard');
const cells = document.getElementsByTagName('td');

for (let i = 0; i < cells.length; i++) {
  originalValues[i] = cells[i].innerHTML;
  console.log( originalValues[i]);
}
console.log("/////////")

}

// function we use to compare  original data with current
function compareData(originalValues){
  const table = document.querySelector('leaderboard');
const cells = document.getElementsByTagName('td');


for (let i = 0; i < cells.length; i++) {

  
  if (cells[i].innerHTML !== originalValues[i]) {
    console.log(`The value of cell ${i+1} has changed.`);
    rowOfEditedCell = cells[i+1].parentNode;

    var res = rowOfEditedCell.textContent.match(/\d{1,9}/);
    idOfEditedCell = res[0];

    console.log(idOfEditedCell);
    
    newValue = cells[i].innerHTML;
    previousValue = originalValues[i];
    console.log("The value used to be",originalValues[i],"and now it's", newValue)
   
  }
}
}

// function for actual search for new data
function searchForUpdatedCell (){

  compareData(originalValues);

  const table = document.getElementById('leaderboard');
  var rows = table.getElementsByTagName("tr");
  var headers = table.getElementsByTagName("th");

 

  for (var i = 0; i < rows.length; i++) {
    var cells = rows[i].getElementsByTagName("td");
    console.log(rows[i]);
    for (var j = 0; j < cells.length; j++) {
      
      if (cells[j].textContent === previousValue) {
       
        columnName = headers[j].textContent;
        break;
      }
    }
  }
  console.log(columnName);

  fetch('/server', {
  method: 'POST',
  body: JSON.stringify({ myVariable: newValue, secondVariable: previousValue, myColumn:columnName, myId:idOfEditedCell }),
  headers: { 'Content-Type': 'application/json' },
})
}


function updateTable(newValue) {
  
  // Get a reference to the table
  var table = document.getElementById("leaderboard");

  // Find the cell that was changed
  var cell;
  for (var i = 0; i < table.rows.length; i++) {
    for (var j = 0; j < table.rows[i].cells.length; j++) {
      if (table.rows[i].cells[j].textContent === newValue) {
        cell = table.rows[i].cells[j];
      }
    }
  }

  // Update the cell with the new value
  cell.innerHTML = newValue;
  console.log("Value has changed");


}




</script>
</html>