<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin/charts</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  </head>

  <body>
    <canvas id="chart1"></canvas>
    <button onclick="goBack()" ><img src="back.png" width="50" height="50"> </button>
  </body>

  <script>
    let sortedData = [];

    fetch("/api/createChart")
      .then((response) => response.json())
      .then((data) => {
        data.sort(function (a, b) {
          var one = a.dateOfOffer.split("/").reverse().join("");
          var two = b.dateOfOffer.split("/").reverse().join("");
          return one > two ? 1 : one < two ? -1 : 0;
        });

        console.log(data);
        var totalNumberofOffers = 0;

        for (i = 0; i < data.length; i++) {
          totalNumberofOffers += data[i].offer.length;

          if (i == data.length - 1)
            sortedData.push({
              date: data[i].dateOfOffer,
              numberOfOffers: totalNumberofOffers,
            });
          else if (data[i].dateOfOffer !== data[i + 1].dateOfOffer) {
            sortedData.push({
              date: data[i].dateOfOffer,
              numberOfOffers: totalNumberofOffers,
            });
            totalNumberofOffers = 0;
          }
        }

        console.log(sortedData);
        console.log(sortedData.map((data) => data.date));
        var ctx = document.getElementById("chart1").getContext("2d");
        var chart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: sortedData.map((data) => data.date),
            datasets: [
              {
                label: "My Offers",
                data: sortedData.map((data) => data.numberOfOffers),
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                  "rgba(75, 192, 192, 0.2)",
                  "rgba(153, 102, 255, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                  "rgba(75, 192, 192, 1)",
                  "rgba(153, 102, 255, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });
      });


      function goBack() {
  		  window.history.back();
  			}
  </script>
</html>
