<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login FOrm</title>
   
</head>
<body>


	<body style= "background-color: #D9D9D9;">
  
		<img id = "logo" src="admin.png">

    
    <div class="container">
     <!---   <h2>Login</h2> -->
        <form id="log-form" >
          <div id="username">
			<input class="rectangleForUsername" type="text" value="Enter username" autocomplete="off" id="username"  onfocus="clearText(this)" /> </div>
			<div  id = "password" >	<input class="rectangleForPassword" value="Enter password" type="password" autocomplete="off" id="password" onfocus="clearText(this)"/> </div>
			<input class="rectangleForLogIn" type="submit" value="Log in" />
           </div>
            
        </form>


    </div>
    <script>
      const form = document.getElementById('log-form')
			form.addEventListener('submit', login)

			async function login(event) {
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value

				const result = await fetch('/api/logadmin', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
				
					console.log('Got the token: ', result.data)
					localStorage.setItem('token', result.data)
					// alert('Success')
					window.location.replace("./adminhome.html");
				} else {
					alert(result.error)
				}
			}

			<!-- when click on inputs clear previous input -->

	  		function clearText(element) {
   					 element.value = "";
  					}
    </script>

	
</body>
</html>