<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="login.css" rel="stylesheet">
    <title>Login FOrm</title>
   
</head>
<body>
	<body style= "background-color: #D9D9D9;">
  
		<img id = "logo" src="cart.png">

    
    <div class="container">
     <!---   <h2>Login</h2> -->
        <form id="log-form" >
          <div id="username">
			<input class="rectangleForUsername" type="text" autocomplete="off" id="username" placeholder="Username" /> </div>
			<div  id = "password" >	<input class="rectangleForPassword" type="password" autocomplete="off" id="password" placeholder="Password" /> </div>
			<input class="rectangleForLogIn" type="submit" value="Submit Form" />
            <a href="./register.html"><button type="button" id="buttonForSignUp" >Sign Up</button></a>
           </div>
            
        </form>
    </div>
    <script>
      const form = document.getElementById('log-form')
			form.addEventListener('submit', login)

			async function login(event) {
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value

				const result = await fetch('/api/login', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
				
					console.log('Got the token: ', result.data)
					localStorage.setItem('token', result.data)
					// alert('Success')
					window.location.replace("./userhome.html");
				} else {
					alert(result.error)
				}
			}
    </script>
</body>
</html>
