<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="register.css" rel="stylesheet">

    <title>Document</title>
  </head>
  <body style= "background-color: #D9D9D9;">
  <body>
    <img id = "logo" src="cart.png">
    <div class="container">
   
    <form id="reg-form">
      <div><input type="text" class="rectangleForEmail" value= "enter new email" id="email"   onfocus="clearText(this)" /> </div>
      <div> <input type="text" class="rectangleForUsername" value = "enter new username" id="username"  onfocus="clearText(this)" /> </div>
      <div> <input type="password" class="rectangleForPassword" value = "enter new password"  id="password" onfocus="clearText(this)"/> </div>
      
      <input id="rectangleForSignUp" type="submit" value="Sign me up!" />

      <!--
      <a href="./login.html"><button  type="button" id="rectangleForSignUp">log in</button></a>
      -->
      
    </form>
    </div>

    <script>
      const form = document.getElementById('reg-form')
      form.addEventListener('submit', registerUser)

      async function registerUser(event) {
      event.preventDefault()
      const username = document.getElementById('username').value
      const password = document.getElementById('password').value
      const email = document.getElementById('email').value

      const result = await fetch('/api/register', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json'
      },
      body: JSON.stringify({
      username,
      password,
      email
      })
      }).then((res) => res.json())

      if (result.status === 'ok') {
      // everything went fine
      alert('Success')
      } else {
      alert(result.error)
      }
      }



      function clearText(element) {
        element.value = "";
      }
    </script>
  </body>
</html>
