#logo{
    margin: auto;
    width: 400px;
    height: 350px;
    position: relative;
    left: 525px;
  }
  .rectangleForEmail{
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: #919995;
    border-radius: 20px;
    position: relative;
    top: 15px;
    left: 650px;

  
    text-align: center;
    font-size: 21px;  
    font-family:Georgia;
  }
  
  .rectangleForUsername {
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: #919995;
    border-radius: 20px;
    position: relative;
    top: 30px;
    left: 650px;

    text-align: center;
    font-size: 21px;  
    font-family:Georgia;
    
  }

  .rectangleForPassword {
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: #919995;
    border-radius: 20px;
    position: relative;
    top: 45px;
    left: 650px;

    text-align: center;
    font-size: 21px;  
    font-family:Georgia;
  }

  #rectangleForSignUp{
    margin: auto;
    width: 200px;
    height: 50px;
    background-color: #919995;
    border-radius: 20px;
    position: relative;
    top: 70px;
    left: 650px;
    font-size: 21px; 
    font-weight: bold;
    color: #485E57;


    
  }


