<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="signup.css" rel="stylesheet">

    <title>Document</title>
  </head>
  <body style= "background-color: #D9D9D9;">
  <body>
    <img id = "logo" src="cart.png">
    <div class="container">
   
    <form id="reg-form">
      <div  id = "email" ><input type="text" class="rectangleForEmail"  autocomplete="off" id="email" placeholder="email" /> </div>
      <div  id = "username" > <input type="text" class="rectangleForUsername" autocomplete="off" id="username" placeholder="Username" /> </div>
      <div  id = "password" > <input type="password" class="rectangleForPassword" autocomplete="off" id="password" placeholder="Password" /> </div>
      
      <input id="rectangleForSignUp" type="submit" value="Submit Form" />
      <a href="./login.html"><button  type="button" id="rectangleForSignUp">log in</button></a>
    
      
    </form>
    </div>

    <script>
      const form = document.getElementById('reg-form')
      form.addEventListener('submit', registerUser)

      async function registerUser(event) {
      event.preventDefault()
      const username = document.getElementById('username').value
      const password = document.getElementById('password').value
      const email = document.getElementById('email').value

      const result = await fetch('/api/register', {
      method: 'POST',
      headers: {
      'Content-Type': 'application/json'
      },
      body: JSON.stringify({
      username,
      password,
      email
      })
      }).then((res) => res.json())

      if (result.status === 'ok') {
      // everythign went fine
      alert('Success')
      } else {
      alert(result.error)
      }
      }
    </script>
  </body>
</html>
