<!DOCTYPE html >
    <html lang="en">
        <head>
            <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" href="main.css">
                        <title>home</title>
   
         </head>
                    <body>

                      <div class="container">
                            <h2>welcome </h2>

                            <a href="./change-password.html"><button type="button" id="changepass">change password</button></a>
                             <a href="./change-username.html"><button type="button" id="changeusername">change username</button></a>
                             <a href="./stores.html"><button type="button" id="changeusername">add covid case</button></a>
                             <a href="./map.html"><button type="button" id="changeusername">map</button></a>
                          </div> 
               
    
</body>
</html>